.contact {
    word-break: keep-all;
    background-color: var(--yellow);
    text-align: center;
    padding: 40px 20px;
}
.contact .title {
    font-size: 2rem;
}
.contact .description {
    font-family: var(--font-L);
    font-size: 1.2rem;
    padding-bottom: 30px;
}

/* form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form ::placeholder{
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--font-M);
    color: var(--gray01);
}
form > .formRow > input,
form textarea {
    background-color: rgba(256, 256, 256, 0.6);
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-M);
    color: var(--black);
}
form > .formRow > input {
    height: 60px;
    text-align: center;
}
form > .formRow > input::placeholder{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form textarea {
    height: 300px;
    padding: 20px;
}
form textarea::placeholder{
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form > .formRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
form > button {
    width: 100%;
    border-radius: 50px;
    color: var(--yellow);
    font-family: var(--font-B);
    font-size: 1.4rem;
    background-color: rgba(256, 256, 256, 0.8);
    padding: 14px;
}
form > .checkbox > label > p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}
form > .checkbox > label > p::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    padding: 2px;
}
form > .checkbox > label > input {
    display: none;
}
.checkbox input[type='checkbox']:checked + p::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    color: var(--blue);
}




/* 태블릿 */

@media screen and (max-width: 768px) {
    form > .formRow {
        gap: 16px;
    }
    .contact .title {
        font-size: 1.6rem;
    }
    .contact .description {
        font-size: 1rem;
    }
}



/* 모바일 */

@media screen and (max-width: 480px) {
    .contact .title {
        font-size: 7vw;
        line-height: 9vw;
        padding-bottom: 8px;
    }
    .contact .description {
        font-size: 1rem;
        padding-bottom: 20px;
    }
    form {
        gap: 10px;
    }
    form textarea {
        height: 200px;
    }
    form ::placeholder{
        font-size: 1rem;
    }
    form > .formRow {
        flex-wrap: wrap;
        gap: 10px;
    }
    form > .formRow > input {
        height: 50px;
    }
    form > .formRow > input::placeholder {
        top: 24%;
    }
    form > button {
        padding: 10px;
        font-size: 1.2rem;
    }
    form > .checkbox > label > p {
        font-size: 1rem;
        gap: 6px;
    }
    form > .checkbox > label > p::before {
        width: 14px;
        height: 14px;
    }
}